$borderColor: #EFEFEF;
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

header {
  height: 8vh;
  border-bottom: 1px solid $borderColor;

  nav {
    display: flex;
    max-width: 1280px;
    margin: auto;
    align-items: center;
    justify-content: space-between;

    .logo {
      img {
        height: 55px;
      }
    }

    .links {
      a {
        font-size: 16px;
        font-weight: 400;
        padding: 0 25px;
      }
    }

    .languages {
      display: flex;
      a {
        padding: 0 7px;
        img {
          height: 15px;
        }
      }
    }
  }
}