.main {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  .text {
    padding: 20px;
    max-width: 430px;
    font-size: 48px;
    font-weight: 500;

    span {
      color: #FC4141;
    }
  }

  .worldmap {
    padding: 20px;

    img {
      max-width: 590px;
    }
  }
}

@media only screen and (max-width: 1010px) {
  .main {
    flex-direction: column;

    .text {
      margin: 0 auto;
    }

    .worldmap {
      margin: 0 auto;
    }
  }
}
@media only screen and (max-width: 600px) {
  .main {
    flex-direction: column;

    .text {
      padding: 0;
      margin: 0 auto;
    }

    .worldmap {
      img {
        width: 390px;
      }
    }
  }
}
@media only screen and (max-width: 435px) {
  .main {
    flex-direction: column;

    .text {
      padding: 0;
      margin: 0 auto;
    }

    .worldmap {
      img {
        width: 290px;
      }
    }
  }
}
@media only screen and (max-width: 420px) {
  .main {
    flex-direction: column;
    .text {
      padding: 0;
      max-width: 290px;
    }

  }
}

